<form action="" class="form-group">
  <div class="form-icon"><img />Horario</div>
  <h3>Qual horário você quer treinar?</h3>
  <div>
    <input type="radio" name="morning" value="morning" />
    <label for="morning">Manhã</label>
    <span>6:00 ás 12:00</span>
  </div>
  <div>
    <input type="radio" name="afternoon" value="afternoon" />
    <label for="afternoon">Tarde</label>
    <span>12:01 ás 18:00</span>
  </div>
  <div>
    <input type="radio" name="night" />
    <label for="night">Noite</label>
    <span>18:01 ás 23:00</span>
  </div>
  <div>
    <input type="checkbox" name="show-closed">
    <label for="show-closed">Exibir unidades fechadas</label>
  </div>
</form>
