/* You can add global styles to this file, and also import other style files */

/* Configurando as cores padrões do projeto */

/*
  Desta forma nós conseguimos usar  o nome ali escrito como uma 'Variavel'  que possui o Hexa da cor desejada!

*/

/*

O Seletor ':root' é um seletor global e o mais potente do seu documento, nós usamos ele para definir valores globais para o projeto todo
  Como por exemplo, as cores que serão utilizadas!

*/

:root{
  --dark-grey: #333333;
  --light-grey: #808080;
  --light-text: #e5e5e5;
  --medium-text: #7d7d7d;
  --yellow: #FFB612;
  --red: #dc0a17;
  --green: #2FC022;
}

/*  Configuração global das fontes usadas no projeto */

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/Gotham/gotham-light.woff2') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/Gotham/gotham-book.woff2') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/Gotham/gotham-bold.woff2') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/Gotham/gotham-black.woff2') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/*  Configurando a fonte geral */

*{
  font-family: 'Gotham';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  width: 100%;
  height: 100%;
}
